<a href="{{ .Permalink }}" class="group flex items-center">
    <article class="relative isolate flex flex-col gap-8 lg:flex-row hover:ring-1 inset-0 ring-inset ring-gray-900/10 rounded p-4"> 
      <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
        <div class="h-full w-full rounded overflow-hidden">
          <img src="{{ .Permalink }}{{ .Params.cover }}" alt="Cover Image" class="h-full w-full object-cover"> 
        </div>
        <div class="absolute inset-0 ring-1 ring-inset ring-gray-900/10 rounded"></div>
      </div>
      <div class="flex flex-col flex-grow lg:pl-8">
        <div class="relative max-w-xl flex items-center">
          <h3 class="mt-3 text-xl font-semibold leading-6 text-gray-900 flex items-center">
            <span class="absolute inset-0"></span>
            {{ .Title }}
            <span class="h-6 w-6 ml-2 hidden-arrow">
              <svg class="h-full w-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
              </svg>
            </span>
          </h3>
        </div>
        <p class="mt-3 text-lg text-gray-600">
          {{ if .Params.description }}
          {{ .Params.description }}
          {{ else if .Summary }}
          {{ .Summary }}
          {{ end }}
        </p>
      </div>
    </article>
  </a>
  



<!-- Original list layout -->

<!-- <article class="flex flex-col">
    <a href=" {{ .Permalink }} ">
        <div class="list">
            <h1 class="text-xl font-bold text-emerald-700 gap-8 hover:text-emerald-600">{{ .Title }}</h1>
            <span class="text-gray-600">
            {{ if .Params.description }}
            {{ .Params.description }}    
            {{ else if .Summary  }}
            {{ .Summary }}
            {{ end }}
            </span>
        </div>
    </a>
</article> -->