<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth">
    <head>
        <!--<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">-->
        {{$css := resources.Get "css/tailwind.css" | resources.PostCSS}}
        {{if (eq (getenv "NODE_ENV") "production")}}
        {{$css = $css | minify | fingerprint | resources.PostProcess}}
        {{end}}
        {{- partial "head.html" . -}}
    </head>
    <body class="max-w-screen-md px-10 mx-auto">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
