{{ define "main" }}
{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages  }}
<div class="flex flex-col gap-1">
    <h1 class="text-2xl font-bold text-emerald-900">{{ if .Params.header }}{{ .Params.header }}{{ else }}{{ .Title }}{{ end }}</h1>
    {{ if .Content }}
    <div class="content text-m text-gray-900 leading-relaxed pt-4">
        {{ .Content }}
    </div>
    {{ end }}
</div>
<section class="py-16 flex flex-col gap-24">
    {{ range $index, $pages := $paginator.Pages }}
        {{ partial "list/default" . }}
    {{ end }}
</section>

{{ partial "list/components/pagination" . }}

{{ end }}