body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
    padding-top: 80px;
  }
  
  article footer {
    padding-top: 0px;
  }
  
  #images-wrapper {    
    line-height: 0;       
     -webkit-column-count: 3;    
     -webkit-column-gap: 2px;    
     -moz-column-count: 3;
     -moz-column-gap: 2px;
      column-count: 3;    
      column-gap: 2px; 
    margin-top: 20px; 
    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;    
  }
  
  #images-wrapper img {    
    width: 100%;
    height: auto;
    padding: 2px; 
  } 
  
  @media (max-width: 639px) {
    #images-wrapper {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
   }  
  
  @media (max-width: 320px) {
    #images-wrapper {
    -moz-column-count:    1;
    -webkit-column-count: 1;
     column-count:        1;
    }
   }
  
   time {
    display: none;
   }
  
   nav ul li a {
    letter-spacing: .1em;
   }
  
  .article-list-item:hover h3, .article-list-item:hover p{
    color: rgb(4 120 87);
  }
  
  a:hover {
    color: rgb(4 120 87);
  }
  
  .article-list-item:hover svg{
    margin-left: 2px;
  }
  
  #arrow-shift:hover svg{
    transform: translateX(-2px);
  }