<nav>
    <ul class="flex flex-wrap uppercase text-xs font-semibold gap-6 list-none">
        {{ $currentPage := . }}
        {{ range $index, $element := site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url := $currentPage.Permalink | absLangURL }}
        
        {{- $is_active := false }}
        {{- if eq $menu_item_url $page_url }}
            {{- $is_active = true }}
        {{- else if and .Page (eq $currentPage.Section .Page.Section) (ne $currentPage.IsHome true) }}
            {{- $is_active = true }}
        {{- else if and (strings.HasPrefix $page_url $menu_item_url) (not $currentPage.IsHome) (ne .URL "/") }}
            {{- $is_active = true }}
        {{- end }}

        <li class="group text-emerald-700
            {{ with $is_active }}border-b-2 border-emerald-600 inline{{ end }}
            hover:border-emerald-900
            active:translate-y-1 transition-all duration-150 pb-1">
            <a href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}
               class="tracking-wide group-hover:text-emerald-900 transition-all duration-150 haptic-link">
                {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>